:root {
  --main-background: #212529;
  --footer-background: #0b0c0e;
  --bullet-hover-color: #edf2f4;
  --bullet-color: #e63946;
  --slider-width: 150rem;
  --text-color: #fcbf49;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  background-color: var(--main-background);
  font-family: 'Marck Script', cursive;
}

input[type='radio'] {
  display: none;
}

/* Header */

h1 {
  font-size: 5rem;
  text-align: center;
  position: inherit;
  padding-top: 1.5vh;
  color: var(--text-color);
}

/* FOOTER */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background);
  font-size: 2rem;
  color: var(--text-color);
}

footer p {
  width: max-content;
}
ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  width: 46rem;
}
li {
  align-self: center;
  margin-right: 20%;
}
li:last-of-type {
  margin-right: 0;
}
svg {
  height: 3rem;
  fill: var(--text-color);
  margin-right: 2rem;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  width: max-content;
}

/* SLIDER */
/* containers */
.slider {
  width: var(--slider-width);
  height: fit-content;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  z-index: 10;
}

.images {
  width: inherit;
  height: fit-content;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  grid-column: span 2;
  grid-row: 1;
  padding-bottom: 2rem;
}

.text {
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
  align-self: center;
  display: flex;
  font-size: 4rem;
  color: var(--text-color);
  padding-left: 0.3rem;
}

.navigation {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  align-self: center;
  display: flex;
}

/* Slides */
.slide {
  transition: all 0.45s;
}
img {
  border-radius: 3rem;
  width: var(--slider-width);
}

.slide-text {
  width: var(--slider-width);
  transition: all 0.6s;
}

/* Bullets */
.page {
  width: 2.5rem;
  height: 3.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.page:last-of-type {
  margin-right: 0;
}

.page button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--bullet-color);
  outline: 2px solid var(--bullet-color);
  pointer-events: none;
  align-self: center;
  border: none;
}

.page:hover > button {
  background-color: var(--bullet-hover-color);
  outline: 2px solid var(--bullet-hover-color);
}

/* TEXT AND IMAGE MOVEMENT */
#mem1:checked ~ .images .s1,
#mem1:checked ~ .text .t1 {
  margin-left: 0;
}
#mem2:checked ~ .images .s1 {
  margin-left: -100%;
}
#mem2:checked ~ .text .t1 {
  margin-left: calc(var(--slider-width) * -1);
}
#mem3:checked ~ .images .s1 {
  margin-left: -200%;
}
#mem3:checked ~ .text .t1 {
  margin-left: calc(var(--slider-width) * -2);
}
#mem4:checked ~ .images .s1 {
  margin-left: -300%;
}
#mem4:checked ~ .text .t1 {
  margin-left: calc(var(--slider-width) * -3);
}
#mem5:checked ~ .images .s1 {
  margin-left: -400%;
}
#mem5:checked ~ .text .t1 {
  margin-left: calc(var(--slider-width) * -4);
}

/* Appearance of current mem text */
#mem1:checked ~ .text .t1,
#mem2:checked ~ .text .t2,
#mem3:checked ~ .text .t3,
#mem4:checked ~ .text .t4,
#mem5:checked ~ .text .t5 {
  animation: text-in 0.6s;
}

/* set style for active mem to bullet */
#mem1:checked ~ .navigation .p1,
#mem2:checked ~ .navigation .p2,
#mem3:checked ~ .navigation .p3,
#mem4:checked ~ .navigation .p4,
#mem5:checked ~ .navigation .p5 {
  background-color: var(--main-background);
  outline: 2px solid var(--bullet-color);
}

/* Hiding text from different mems */
/* first mem text */
#mem1:checked ~ .text > .t2,
#mem1:checked ~ .text > .t3,
#mem1:checked ~ .text > .t4,
#mem1:checked ~ .text > .t5,
/* second mem text*/
#mem2:checked ~ .text > .t1,
#mem2:checked ~ .text > .t3,
#mem2:checked ~ .text > .t4,
#mem2:checked ~ .text > .t5,
/* third mem text*/
#mem3:checked ~ .text > .t1,
#mem3:checked ~ .text > .t2,
#mem3:checked ~ .text > .t4,
#mem3:checked ~ .text > .t5,
/* fourth mem text*/
#mem4:checked ~ .text > .t1,
#mem4:checked ~ .text > .t2,
#mem4:checked ~ .text > .t3,
#mem4:checked ~ .text > .t5,
/* fifth mem text*/
#mem5:checked ~ .text > .t1,
#mem5:checked ~ .text > .t2,
#mem5:checked ~ .text > .t3,
#mem5:checked ~ .text > .t4 {
  opacity: 0;
}

@keyframes text-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1560px) {
  :root {
    --slider-width: 120rem;
  }
  h1 {
    padding-top: 4vh;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --slider-width: 100rem;
  }
  h1 {
    font-size: 4.8rem;
    padding-top: 8vh;
  }
}
@media screen and (max-width: 1080px) {
  :root {
    --slider-width: 80rem;
  }
  h1 {
    font-size: 4.5rem;
    padding-top: 13vh;
  }
}
@media screen and (max-width: 880px) {
  :root {
    --slider-width: 60rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  .navigation {
    grid-row: 2;
    grid-column: span 2;
    justify-self: center;
    padding-bottom: 2rem;
  }
  .text {
    grid-row: 3;
    grid-column: span 2;
    font-size: 3rem;
  }
}
@media screen and (max-width: 680px) {
  :root {
    --slider-width: 40rem;
  }

  h1 {
    font-size: 3.5rem;
  }
  .text {
    font-size: 2.5rem;
  }

  .page {
    width: 2rem;
    height: 2.3rem;
    margin: 0 0.5rem;
  }

  .page button {
    width: 1.2rem;
    height: 1.2rem;
  }

  footer {
    font-size: 1.6rem;
  }

  ul {
    width: 41rem;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --slider-width: 29rem;
  }

  h1 {
    font-size: 3rem;
  }

  .text {
    font-size: 2rem;
  }

  .page {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
  }

  .page button {
    width: 1rem;
    height: 1rem;
  }

  footer {
    font-size: 1.4rem;
  }

  ul {
    width: 30rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
  }
  li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  li:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 330px) {
  :root {
    --slider-width: 20rem;
  }
  h1 {
    font-size: 2rem;
    padding-top: 18vh;
  }
  .text {
    font-size: 1.5rem;
  }

  .page {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.3rem;
  }

  .page button {
    width: 0.7rem;
    height: 0.7rem;
  }
}
@media screen and (max-width: 260px) {
  :root {
    --slider-width: 14rem;
  }

  .text {
    font-size: 1.2rem;
  }
}
